.singlePage {
  display: flex;
  height: 100%;
}

.singlePage .details {
  flex: 3;
  margin-bottom: 50px;
}

.singlePage .features {
  flex: 2;
  background-color: #fcf5f3;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 5px;
  display: none;
}
:hover::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

:hover::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px;
}

:hover::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.singlePage .details .wrapper {
  padding-right: 50px;
}

.singlePage .features .wrapper {
  padding: 0px 20px;
}

.singlePage .details .wrapper .info .top {
  display: flex;
  justify-content: space-between;
}

.singlePage .details .wrapper .info {
  margin-top: 50px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #888;
  font-size: 14px;
}

.address img {
  height: 16px;
  width: 16px;
}

.price {
  padding: 5px;
  background-color: rgba(254, 205, 81, 0.438);
  border-radius: 5px;
  width: max-content;
  font-size: 20px;
  font-weight: 300;
}

.singlePage .details .wrapper .info .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 50px;
  border-radius: 10px;
  background-color: rgba(254, 205, 81, 0.209);
  font-weight: 600;
}

.singlePage .details .wrapper .info .top .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom {
  margin-top: 50px;
  color: #555;
  line-height: 20px;
}

.singlePage .features .wrapper {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singlePage .features .wrapper img {
  width: 24px;
  height: 24px;
}

.singlePage .features .wrapper .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.singlePage .features .wrapper .listVertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}

.singlePage .features .wrapper .feature {
  display: flex;
  align-items: center;
  gap: 10px;
}

.singlePage .features .wrapper .feature img {
  background-color: rgba(254, 205, 81, 0.209);
}

.singlePage .features .wrapper .feature .featureText span {
  font-weight: bold;
}
.singlePage .features .wrapper .feature .featureText p {
  font-size: 14px;
}

.singlePage .features .wrapper .listHorizontal {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}

.singlePage .features .wrapper .sizes {
  display: flex;
  justify-content: space-between;
}

.singlePage .features .wrapper .sizes .size {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.singlePage .features .wrapper .mapContainer {
  width: 100%;
  height: 200px;
}

.singlePage .features .wrapper .buttons {
  display: flex;
  justify-content: space-between;
}

.singlePage .features .wrapper .buttons button {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  border: 1px solid #fece51;
  border-radius: 5px;
  cursor: pointer;
}

.singlePage .features .wrapper .buttons button img {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 1366px) {
  .singlePage .features .wrapper .sizes {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .singlePage {
    flex-direction: column;
    overflow-y: scroll;
  }
  .singlePage .details {
    flex: none;
    height: max-content;
  }

  .singlePage .features {
    flex: none;
    height: max-content;
  }
}

@media screen and (max-width: 738px) {
  .singlePage .details .wrapper {
    padding-right: 0px;
  }
}
